In [ ]:
#/*Task-01*/

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
x = np.array([2,4,5,3,6,5,7])
y = np.array([35,60,20,50,50,55,60])

In [5]:
df = pd.DataFrame({'x':x,'y':y})
df

   x   y
0  2  35
1  4  60
2  5  20
3  3  50
4  6  50
5  5  55
6  7  60

In [25]:
X=df[['x']]
y=df['y']

In [9]:
sum_x = np.sum(x)
sum_x

32

In [13]:
sum_y = np.sum(y)
sum_y

330

In [15]:
sum_xy = np.sum(x*y)
sum_xy

1555

In [17]:
sum_x2 = np.sum(x**2)
sum_x2

164

In [19]:
n = len(x)
n

7

In [23]:
m = ((n*sum_xy - sum_x*sum_y)/(n*sum_x2- sum_x**2))
m
print(round(m,2))

2.62

In [29]:
c = np.mean(y) - m* np.mean(x)
c

35.16129032258065

In [35]:
x_val = 6
Y_pred = m*x_val+c
Y_pred
print(round(Y_pred,2))

50.89

In [39]:
df['Y_pred'] = round(df['x']*m+c,2)
df

   x   y  Y_pred
0  2  35   40.40
1  4  60   45.65
2  5  20   48.27
3  3  50   43.02
4  6  50   50.89
5  5  55   48.27
6  7  60   53.51

In [ ]:
#/*Task-02*/

In [41]:
df['residuals'] = df['Y_pred'] - df['y']
df

   x   y  Y_pred  residuals
0  2  35   40.40       5.40
1  4  60   45.65     -14.35
2  5  20   48.27      28.27
3  3  50   43.02      -6.98
4  6  50   50.89       0.89
5  5  55   48.27      -6.73
6  7  60   53.51      -6.49

In [ ]:
#/*Task-03*/

In [47]:
#MSE
MSE = np.sum((df['y'] - df['Y_pred'])**2)/n
print(round(MSE,2))

167.31

In [51]:
#MAE
MSE = np.sum((df['y'] - df['Y_pred']).abs())/n
print(round(MSE,2))

9.87

In [ ]:
#/*Task-04*/

In [55]:
df['MSE'] = round(((df['y'] - df['Y_pred'])**2)/n,2)
df

   x   y  Y_pred  residuals     MSE
0  2  35   40.40       5.40    4.17
1  4  60   45.65     -14.35   29.42
2  5  20   48.27      28.27  114.17
3  3  50   43.02      -6.98    6.96
4  6  50   50.89       0.89    0.11
5  5  55   48.27      -6.73    6.47
6  7  60   53.51      -6.49    6.02

In [59]:
df['MAE'] = round(((df['y'] - df['Y_pred']).abs())/n,2)
df

   x   y  Y_pred  residuals     MSE   MAE
0  2  35   40.40       5.40    4.17  0.77
1  4  60   45.65     -14.35   29.42  2.05
2  5  20   48.27      28.27  114.17  4.04
3  3  50   43.02      -6.98    6.96  1.00
4  6  50   50.89       0.89    0.11  0.13
5  5  55   48.27      -6.73    6.47  0.96
6  7  60   53.51      -6.49    6.02  0.93

In [63]:
df.to_excel("MyData.xlsx")
df

   x   y  Y_pred  residuals     MSE   MAE
0  2  35   40.40       5.40    4.17  0.77
1  4  60   45.65     -14.35   29.42  2.05
2  5  20   48.27      28.27  114.17  4.04
3  3  50   43.02      -6.98    6.96  1.00
4  6  50   50.89       0.89    0.11  0.13
5  5  55   48.27      -6.73    6.47  0.96
6  7  60   53.51      -6.49    6.02  0.93